.details {
    text-decoration: none;
}
.products__image {
  margin-left: 120px;
  margin-right: 130px;
}
.products__image li {
  display: inline-block;
  padding:40px;
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
}